In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("MissingValuesDataSet.csv")

In [3]:
df.head()

   Employees  Products  Clients  Turnover  Atrition   Profit
0       1567         9       15  31470.06      3.35  8147.66
1       1675        10        8  41895.10     12.78  4520.65
2       1395         5       13  32372.37     17.50  6653.68
3       1165         1        9  29595.66      5.15  3949.12
4         35         2       12    815.01     10.17  -866.69

In [6]:
df.isnull().sum()

Employees    0
Products     0
Clients      0
Turnover     0
Atrition     0
Profit       6
dtype: int64

In [9]:
df1=df.fillna(method='ffill')

In [10]:
df1.isnull().sum()

Employees    0
Products     0
Clients      0
Turnover     0
Atrition     0
Profit       0
dtype: int64

In [11]:
df2=df.fillna(method='bfill')

In [12]:
df2.isnull().sum()

Employees    0
Products     0
Clients      0
Turnover     0
Atrition     0
Profit       0
dtype: int64

In [13]:
# using median
df3= df['Profit'].fillna(df['Profit'].median())

In [14]:
df3.isnull().sum()

0

In [15]:
df4=df['Profit'].fillna(df['Profit'].mean())

In [16]:
df4.isnull().sum()

0

In [17]:
df5=df['Profit'].interpolate(method='linear', direction = 'forward') 
df5.isnull().sum()

0